body {
  background-color: ghostwhite;
}

.headercontainer {
  display: flex;
  background-color: skyblue;
  color: white;
  padding: 1rem;
}

.header__title {
  margin: auto;
  font-weight: 700;
  font-size: 5rem;
  font-style: oblique;      
}

.header__nav {

}

.header__ul {
  
}

li {
  list-style: none;
  display: inline;
  margin: 1rem;
  bottom: 0;
  right: 0;
}

a {
  font-size: 2rem;
  padding: 9px;
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: gold;
}

.maincontainer {
  background-color: #fff;
}

.popup {
  padding: 2.5rem 1rem;
  width: 25%;
  background-color: skyblue;
  color: #fff;
  border: black solid 2px;
  box-shadow: black 5px 2.5px;
}

.img__popup {
  width: 300px;
  height: 250px;
  
}


.footercontainer {
  display: flex;
  padding: 1rem;     
}

.img__footer {
  margin: auto;
  padding: 1rem;
}

.author {
  margin: 2rem;
}

.copy {
  margin: 0.5rem;
}

.trade {
  
}